@{
    ViewData["Title"] = "Venues";
}

@model ClassLibrary.Value;



<h2>Manage your venues here</h2>





@*<form action="/Home/DeleteVenue" method="post">

        <fieldset>
            <select id="MovieType" name="MovieType">

                @foreach (ClassLibrary.Venue x in Model.Venues)
                {

                    <option>@x.VenueName</option>

                }
            </select>

            <p><input type="submit" value="Submit" /> </p>

        </fieldset>


    </form>*@

