@model ClassLibrary.Value
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["PurchaseCompleted"];
}

<hr>
<div style=" text-align: center">
    <h2>@Localizer["Thank"]</h2>
    <p>@Localizer["It"] <h3>@Model.TicketBuyer.BuyerFirstName @Model.TicketBuyer.BuyerLastName</h3></p>

    <div id="pic"><img src="~/images/thumbsup.png" /></div>
</div>
