@model ClassLibrary.Value
@{
    ViewData["Title"] = "PurchaseCompleted";
}

<h2>Tack för din beställning!</h2>


@*<p>It was a pleasure doing business with you @Model.TicketBuyer.BuyerFirstName @Model.TicketBuyer.BuyerLastName</p>

@foreach (ClassLibrary.EventSummary x in Model.EventSummaries)
{


}*@