@model ClassLibrary.Value
@{
    ViewData["Title"] = "PurchaseCompleted";
}


<hr>
<div style=" text-align: center"  >
    <h2>Thank you for using JAM!</h2>
    <p>It was a pleasure doing business with you @Model.TicketBuyer.BuyerFirstName @Model.TicketBuyer.BuyerLastName</p>
    <ul style="list-style-type:none">
        @foreach (ClassLibrary.EventSummary x in Model.CartSummary)
        {
            <li>@x.EventName</li>
        }

    </ul>
    <div id="pic"><img src="~/images/thumbsup.png" /></div>
</div>
