@{
    ViewData["Title"] = "Venues";
}

@model ClassLibrary.Value;


<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("AddVenues", "Venues")'">Add Venue</button>
    <button type="button" onclick="location.href='@Url.Action("EditVenues", "Venues")'">Edit Venue</button>
    <button>Delete Venue</button>

    <div class="venueDiv" id="deleteVenue" style="display:block">
        <hr />
        <h3>Delete Venue</h3>
        <hr />
        @using (Html.BeginForm("DeleteVenues", "Venues", FormMethod.Post))
        {
            @Html.DropDownList(
            "id", 
            new SelectList(Model.Venues.Select(x => new { Value = x.VenueId, Text = x.VenueName }),
            "Value", "Text"), "- Select Venue")

            <input type="submit" value="Delete" style="background-color:red" />
        }
        <hr />
    </div>
</div>
@section Scripts
    {
    <script>
        function edit() {
            var edit = document.getElementById("editVenue");
            var add = document.getElementById("addVenue");
            var del = document.getElementById("deleteVenue");

            if (edit.style.display === "none") {
                edit.style.display = "block";
                add.style.display = "none";
                del.style.display = "none";
            }

        }
        function add() {
            var add = document.getElementById("addVenue");
            var edit = document.getElementById("editVenue");
            var del = document.getElementById("deleteVenue");

            if (add.style.display === "none") {
                add.style.display = "block";
                edit.style.display = "none";
                del.style.display = "none";
            }

        }
        function del() {
            var del = document.getElementById("deleteVenue");
            var add = document.getElementById("addVenue");
            var edit = document.getElementById("editVenue");

            if (del.style.display === "none") {
                del.style.display = "block";
                add.style.display = "none";
                edit.style.display = "none";
            }

        }

        function dropdown(value) {
            window.location.href = "/Venues/DropDownChanged?id=" + value;
        }
    </script>
}