body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}




.addVenue{
    border:1px solid black;
    width:30%;
    display:inline-block;
    float:left;
    margin:20px;
    padding:20px;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {

}
