@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home"];
}
<div id="backGround">
    <div id="homeContent" style="padding-top: 20px">
        <br />   <br />   <br />
        <h1 id="jam">@Localizer["JAM"]</h1><br /><h3 style=" font - family:'Agency FB'">@Localizer["TicketShop"]</h3><br />
        <hr />
        <br />
        <p id="bigLetter">@Localizer["made"]</p>
        <br />
        <br />
        <br />
    </div>
</div>