
@{
    ViewData["Title"] = "Home";
}
<div id="backGround">
    <div id="homeContent" style="padding-top: 20px">
        <br />
        <br />
        <br />
        <p>welcome to... </p><h1 id="jam">JAM Ticket Shop</h1>
        <p>
            We sell tickets to all kinds of events. Have a look around, see what's available and book your tickets ASAP!
            If you need anything, we have 24/7 Customer Support available for you. Call 911 and we'll answer your call within seconds.
            Thanks for using this website.<br /><br />

            Regards..<br />
        </p>
        <p id="bigLetter">Jakob</p>
        <p id="bigLetter">A gneta</p>
        <p id="bigLetter">M artin</p>

    </div>
</div>