@model ClassLibrary.Value;

@{
    ViewData["Title"] = "Shop";
}
<style type="text/css">
    #wrap {
        width: 1000px;
    }

    .left {
        width: 480px;
        float: left;
        text-align: center;
    }

    .right {
        width: 480px;
        float: right;
        text-align:center;
    }
</style>
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    table#jam tr:nth-child(even) {
        background-color: #eee;
    }

    table#jam tr:nth-child(odd) {
        background-color: #fff;
    }

    table#jam th {
        background-color: black;
        color: white;
    }

</style>

<body>
    @using (Html.BeginForm("BookSeat", "Shop", FormMethod.Post))
    {

        <div id="wrap">
            <div class="left">
                <h2>Team Jam´s Ticket Shop</h2>

                <table id="jam">
                    <tr>
                        <th>TEDID</th>
                        <th>Event</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Tickets left</th>
                        <th></th>
                    </tr>

                    <tr>
                        @*Här får vi göra en foreach-loop, som rullar ut alla events.*@
                        <td>1</td>
                        <td>Bruce Springsteen</td>
                        <td>Ullevi</td>
                        <td>2018-07-03</td>
                        <td>55</td>
                        <td align='center'><form><input type="submit" value="1" label="Buy" style="width:100%"></form></td>
                    </tr>
                    <tr>
                        @*Dessa ska bort när looen är klar.*@
                        <td>2</td>
                        <td>Frölunda - Luleå</td>
                        <td>Scandinavium</td>
                        <td>2018-03-05</td>
                        <td>26</td>
                        <td align='center'><form><input type=submit value="Buy" label="Buy" style="width:100%"></form></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Way Out West</td>
                        <td>Frihamnen</td>
                        <td>2018-08-15</td>
                        <td>2</td>
                        <td align='center'><form><input type=submit value="Buy" label="Buy" style="width:100%"></form></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Disney on ice</td>
                        <td>Scandinavium</td>
                        <td>2018-04-15</td>
                        <td>2</td>
                        <td align='center'><form><input type=submit value="Buy" label="Buy" style="width:100%"></form></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Speedway</td>
                        <td>Ullevi</td>
                        <td>2018-09-25</td>
                        <td>2</td>
                        <td align='center'><form><input type=submit value="Buy" label="Buy" style="width:100%"></form></td>
                    </tr>

                </table>
            </div>
        </div>

    }
            <div class="right">
                <h2>Shoppingcart</h2>
                <table id="jam" style="width:100%" align="right">
                    <tr>
                        <th>Event</th>
                        <th>Amount</th>

                    </tr>

                    <tr>
                        @*Här får vi göra en foreach-loop, som rullar ut alla events.*@
                        <td>Bruce Springsteen</td>
                        <td>2</td>

                    </tr>
                    <tr>
                        @*Dessa ska bort när looen är klar.*@
                        <td>Frölunda - Luleå</td>
                        <td>1</td>

                    </tr>
                    <tr>
                        <td>Way Out West</td>
                        <td>3</td>

                    </tr>



                </table>
                <tr align='center'><input type=submit value="CheckOut" label="CheckOut" style="width:100%"></tr>
            </div>


    </body>










