@model ClassLibrary.Value;

@{
    ViewData["Title"] = "Events";
}
<style type="text/css">
    #wrap {
        width: 1000px;
    }

    .left {
        width: 480px;
        float: left;
        text-align: center;
    }

    .right {
        width: 480px;
        float: right;
        text-align: center;
    }
</style>
<style>
    table, th, td {
        border: 2px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
    }

    table#jam tr:nth-child(even) {
        background-color: #eee;
    }

    table#jam tr:nth-child(odd) {
        background-color: #fff;
    }

    table#jam th {
        background-color: black;
        color: white;
    }
</style>

<h1>@ViewBag.Message</h1>
<div id="content">
    <button onclick="location.href='@Url.Action("GetAllEvents", "Home")'">Select Event</button>
    <button type="button" onclick="location.href='@Url.Action("GetAllEventDates", "Home")'">Select EventDate</button>

