@model ClassLibrary.Value;

@{
    ViewData["Title"] = "Events";
}

@*@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer*@

<h1>@ViewBag.Message</h1>
<div id="content">
 
    <div class="venueDiv" id="getEvent" style="display:block">
        <h3>Get Events</h3>

    </div>
        </div>
            @section Scripts
                {
                <script>
                    function dropdown(value) {
                        window.location.href = "/Shop/DropDownChanged?id=" + value;
                    }
                </script>
            }
