@model ClassLibrary.Value;

@{
    ViewData["Title"] = "Events";
}

@*@using Microsoft.AspNetCore.Mvc.Localization

    @inject IViewLocalizer Localizer*@

<h1>@ViewBag.Message</h1>
<div id="content">

    <div class="venueDiv" id="getEvent" style="display:block">
        <hr />

    </div>
</div>
