body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


h3 {
    margin: 0;
}

.venueDiv {
    width: 50%;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    display: none;
}

input[type=text], input[type=email] {
    width: 100%;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

select {
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

#content {
    text-align: center;
    margin: 0 auto;
}




#row {
    border: 1px solid black;
    display: inline-block;
    margin: 0;
    padding: 5px;
    line-height: 4;
    background-color: black;
    color: white;
}

/* table styles*/

tr:nth-child(even) td {
    background: #F1F1F1;
}
tr:nth-child(odd) td {
    background: #FEFEFE;
}  
#shoppingCartTable {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0 auto;
    margin-top:20px;
    width:50%;
}

td {
    padding: 10px;
 
    border: 1px solid #CCC;
    background: #FAFAFA;
    text-align: center;
}
#btnTD {
    padding:0px;
}
th {
    text-align: center;
    padding: 10px;
    border: 1px solid #CCC;
    background: #DFDFDF; 
    font-weight: bold;
    transition: all 0.3s;
}
tr td:hover {
    background: #666;
    color: #FFF;
    cursor:context-menu;
}
tr td:hover > .addToCartBtn {
    background: #666;
    color: #FFF;
} 

th:hover {
    cursor:context-menu;
}
#customerInfo, #cartButtons {
    text-align: center;
    margin: 0 auto;
    width: 30%;
    transition: 1s ease-in;
}

#cartButtons{
    margin-top:20px;
    width:100%;
}

.checkOutBtn {
    background-color: black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  
}
.checkOutBtn:hover {
    opacity:1;
}

#information {
    width:50%;
    padding:10px;
    margin:10px auto;
   
}
.addToCartBtn, #deleteBtn {
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    background-color: inherit;
    font-family: 'Agency FB';
    display: block;
    margin: 0;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}
    .addToCartBtn:hover {
        opacity:0.5;
    }
    #bigLetter, #jam {
        font-family: 'Agency FB';
        margin-top: 0px;
        display: inline-block;
        font-size: 120%;
    }

#jam {
    font-size: 600%;
}

#infoTD {
    padding:0px;
}
#infoLink {
    height:20px;
    padding:20px;
    text-decoration:none;
    color:black;
    font-weight:bold;
}
#infoLink:hover {
    cursor:pointer;
}
#backGround {
    height: 650px;
    overflow: auto;
}


#homeContent {
    text-align: center;
    margin: 0 auto;
    margin-top: 75px;
    width: 40%;
    color: floralwhite;
    opacity: 0.9;
    display: block;
    padding: 50px;
    padding-top: 300px;
    border-radius:50%;
    background-color:black;
    
}

.navbar {
    text-align: center;
    margin: 0 auto;
}

    .navbar a {
        text-decoration: none;
        color: black;
        font-family: 'Agency FB';
        font-size: 200%;
        padding: 10px;
    }

        .navbar a:hover {
            opacity: 0.5;
        }

.navbarList {
    display: inline;
    text-align: center;
}

.navbar li {
    display: inline;
    text-align: center;
    list-style: none;
}

.navbar ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#searchBtn {
    text-decoration: none;
    color: white;
    margin-left: 5px;
    width: 8%;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#searchTextBox {
    width: 42%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 16px 8px 28px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
