@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "TicketEventDate";
}

@model ClassLibrary.Value;

<center><h1>TicketEventDate</h1></center>

<div id="content">
    <button onclick="location.href='@Url.Action("AddTicketEventDate", "TicketEventDates")'">Add TicketEventDates</button>
    <button onclick="location.href='@Url.Action("DeleteTicketEventDate", "TicketEventDates")'">Delete TicketEventDates</button>
</div>