
@{
    ViewData["Title"] = "TicketEventDate";
}

@model ClassLibrary.Value;


<center><h1>TicketEventDate</h1></center>

<div id="content">
    <button onclick="location.href='@Url.Action("AddTicketEventDate", "TicketEventDates")'">Test1</button>
</div>