
@{
    ViewData["Title"] = "Customers";
}
@*@model ClassLibrary.Value;*@
<center><h2>Customers</h2></center>

<div id="content">
    <button onclick="location.href='@Url.Action("FindCustomer", "Customers")'">Find Customer</button>
</div>

